{% extends 'templates/master/master.twig' %}

{% block content %}
  <div class="page-body text-center">
    <div class="row">
      <div class="col-sm-12">
        {% include 'templates/inc/messages.twig' %}
      </div>
    <div class="col-sm-12">
      <div class="card card-creacion-usuario">
        <div class="card-header text-center m-t-10">
          <h3>Registrar Usuario</h3>
        </div>
          <div class="f1 card-block form-crear-usuario">
            {# <form role="form" action="" class="f1"> #}
           {#    {% include 'crear-usuario/inc/pasos.twig' %}
               <fieldset> #}
              {% include 'crear-usuario/inc/detalle-persona.twig' %}
            {#   </fieldset> #}
              <div class="m-b-26 box-mensaje-usuario-creado hide">
                <div class="alert alert-info icons-alert fix-icon-alert">
                </div>
              </div>
            {# </form> #}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block scripts %}
  {{ parent() }}
  <!-- App JS -->
  <script type="text/javascript" src="{{ base_url() }}/public/assets/app/js/crear_usuario.js"></script>

{% endblock %}