ACA IRAN LAS FOTOS
<div class="col-sm-12">
		<input type="file" class="form-control">
	</div>
<div class="col-md-6">
		<input type="image" class="img-rounded" src="{{ base_url() }}/public/assets/app/images/add_image.png" alt="Logo" style="height: inherit; width: inherit;" />
		</div>