
<div class="row">
<div class="col-md-12 p-t-12" for="id_imagen">
  <label for="imagen">Imagen:</label>
  <input id="id_imagen" name="id_imagen" size="30" value="1" type="file" />

  </div>
    <div class="col-md-6 p-t-6" for="nombres_persona">
    <label class="col-form-label">Nombres</label>
    <input type="text" name="nombres_persona" class="form-control" id="nombres_persona">
  </div>
  <div class="col-md-6 p-t-6" for="apellidos">
    <label class="col-form-label">Apellidos</label>
    <input type="text" name="apellidos"  class="form-control" id="apellidos">
  </div>
<div class="col-md-6 p-t-6" for="sexo_persona">
  <label class="col-form-label">Sexo</label>
  {# <input type="text" name="sexo_persona" class="form-control" id="sexo_persona"> #}
  <select name="sexo_persona" class="form-control form-control-inverse">
	<option value="0">- SELECCIONAR -</option>
	<option value="h">Hombre</option>
	<option value="m">Mujer</option>
	</select>
</div>

<div class="col-md-6 p-t-6" for="institucion">
  <label class="col-form-label">Institucion</label>
  {# <input type="text" name="color_piel" class="form-control" id="color_piel"> #}
  <select name="institucion" id="institucion" class="form-control form-control-inverse">
  <option value="0">- SELECCIONAR -</option>
  {% for institucion in instituciones %}
	<option value="{{ institucion.id_institucion }}">{{institucion.nombre}}</option>
  {% endfor %}
	</select>
</div>

<div class="col-md-4 p-t-6" for="correo_electronico">
  <label class="col-form-label">Correo Electronico</label>
  <input type="text" name="correo_electronico" placeholder="Correo" class="form-control" id="correo_electronico">
</div>

</div>
<div class="buttons">
   <button type="button" id="btn-crear-usuario" class="btn btn-mat waves-light btn-inverse text-center">

    Crear Usuario</button>
</div>