
<div class="f1-steps">
    <div class="f1-progress">
        <div class="f1-progress-line" data-now-value="16.66" data-number-of-steps="3" style="width: 16.66%;"></div>
    </div>
    <div class="f1-step active">
    	<div class="f1-step-icon">></div><p>Paso 1</p>
    </div>
    <div class="f1-step">
    	<div class="f1-step-icon">></div><p>Paso 2</p>
    </div>
    <div class="f1-step">
    	<div class="f1-step-icon">></div><p>Paso 3</p>
    </div>
</div>