{% extends 'templates/master/master.twig' %}

{% block content %}
<div class="page-body boxed-layout-padding">
  <div class="row">
    <div class="col-sm-12">
      {% include 'templates/inc/messages.twig' %}
    </div>
    <div class="col-sm-12">
      <div class="card">
        <div class="card-block error-404" style="text-align: center;">
          <img class="img-fluid error-img " src="{{ base_url() }}/public/assets/app/images/error404.png" alt="404"  style="max-height: 540px;" />
          {# <h1>404</h1> #}
          {# <h4>Página no encontrada</h4> #}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
