
.form-control {
  border: 1px solid #bbb;
}

select.form-control {
  border: 1px solid #bbb;
  -webkit-box-shadow: none;
  box-shadow: none;
}

select.form-control:focus,
select.form-control:hover {
  border: 1px solid #448aff;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

.form-group .messages {
	padding-top: 6px;
	display: inline-block;
}