<div class="col-sm-12">
	<div class="col-sm-6 col-md-6 col-lg-6">
		<input type="file" class="form-control">
		</div>
<div class="row">
		<div class="col-sm-6 col-md-6 col-lg-6">
		<input type="image" class="img-rounded" src="{{ base_url() }}/public/assets/app/images/add_image.png" alt="Logo" style="height: inherit; width: inherit;" />
		</div>
		<div class="col-sm-6 col-md-6 col-lg-6" for="nombres_persona">

  	<label class="col-form-label">Nombres</label>
    <input type="text" name="nombres_persona" class="form-control" id="nombres_persona">
	  <label class="col-form-label">Apellidos</label>
	  <input type="text" name="apellidos_persona"  class="form-control" id="apellidos_persona">
	  <label class="col-form-label">Fecha Nacimiento</label>
  	<input type="date" name="fecha_nacimiento"  class="form-control" id="fecha_nacimiento">
		<label class="col-form-label" >Tipo Documento Identidad</label>
    {# <input type="text" name="tipo_documento"  class="form-control" id="tipo_documento"> #}
    <select name="tipo_documento"  id="tipo_documento" class="form-control form-control-inverse" >
		<option value="0">- SELECCIONAR -</option>
		<option value="1">DNI</option>
		<option value="2">PASAPORTE</option>
		</select>
		<label class="col-form-label" >Numero Documento</label>
  	<input type="text" name="numero_documento" placeholder="Numero de documento" class="form-control" id="numero_documento">
  	<label class="col-form-label">Sexo</label>
	  {# <input type="text" name="sexo_persona" class="form-control" id="sexo_persona"> #}
	  <select name="sexo_persona" class="form-control form-control-inverse">
		<option value="0">- SELECCIONAR -</option>
		<option value="h">Hombre</option>
		<option value="m">Mujer</option>
		</select>
		<label class="col-form-label">Color Piel</label>
	  {# <input type="text" name="color_piel" class="form-control" id="color_piel"> #}
	  <select name="color_piel" class="form-control form-control-inverse">
		<option value="0">- SELECCIONAR -</option>
		<option value="bl">Blanco</option>
		<option value="m">Moreno</option>
		<option value="tr">Trigueño</option>
		</select>
		<label class="col-form-label">Estatura</label>
  	<input type="number" name="estatura_persona" placeholder="Estatura de la persona" class="form-control" id="estatura_persona">
	  </div>
	</div>
</div>