{% extends 'templates/login/login.twig' %}

{% block content %}
  <div class="row">
    <div class="col-sm-12">
      {% include 'login/inc/login-form.twig' %}
    </div><!--.col-sm-12-->
  </div><!--.row-->
{% endblock %}