{# <!DOCTYPE html>
<head>
<title>Mapa de Google</title>
<script src="http://maps.google.com/maps?file=api&v=2&key=AIzaSyCV-quRftERbHa_3kEUVCTOWPgvl9bA1ao" type="text/javascript"></script>
<script type="text/javascript">
//<![CDATA[

window.onload = function (){
   if (GBrowserIsCompatible()) {
      var map = new GMap2(document.getElementById("map"));
      map.setCenter(new google.maps.LatLng(-6.780269774792248,-79.86731612254732),15);
      map.addControl(new GLargeMapControl());
      map.setMapType(G_NORMAL_MAP);

      var point = new GPoint (-79.86731612254732,-6.780269774792248);
      var marker = new GMarker(point);
      map.addOverlay(marker);

      GEvent.addListener(map, "click", function (overlay,point){
         if (point){
            marker.setPoint(point);
            document.posicion.x.value=point.lat()
            document.posicion.y.value=point.lng()
         }
      });
   }
};
//]]>
</script>

</head>

<body>
   <div id="map" style="width: 765px; height: 278px"></div>
   <div id="formulario" style="margin: 10px">
   <form action="#" id="posicion" name="posicion">
   X: <input type="text" name="x" value="" />
   <br />
   Y: <input type="text" name="y" value="" />
   </form>
   </div>
   <br />
<br />
Por <a href="http://www.guiarte.com">guiarte.com</a>
</body>
</html> #}