{% extends 'templates/master.twig' %}

{% block content %}
<!-- Row -->
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-block">
                Slim 3 Micro Framework
            </div>
        </div>
    </div>
</div>
<!-- Row -->
{% endblock %}

